{% load staticfiles %}
{% static "" as baseUrl %}
<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>XXX name of story</title>
        <link rel="stylesheet" href="{{baseUrl}}storybook/css/storybook.css"></link>
    </head>
    <body>
        <div id="container">
            <div id="controlpanel">
                {% for q in questions %}
                <div class="quadrant {% cycle 'left' 'right' %}">
                    <div class="question">
                        {{q}}<br/>
                        <input type="radio" name="choice" id="choice0" value="blick" checked/>
                        <label for="choice0">Blick</label><br />
                        <input type="radio" name="choice" id="choice1" value="Block"/>
                        <label for="choice1">Block</label><br />
                        <input type="radio" name="choice" id="choice2" value="Blah"/>
                        <label for="choice2">Blah</label><br />
                    </div>
                    <div class="feedback">tick</div>
                </div>
                {% endfor %}
                <div id="nav"><a href="../../read/{{story}}/{{section}}/{{page}}">Done</a></div>
            </div>
        </div>
    </body>
</html>
