{% load staticfiles %}
{% static "" as baseUrl %}
<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{{baseUrl}}storybook/css/storybook.css"></link>
    </head>
    <body>
        <div id="container">
            <div id="art"><img src="{{art}}"/></div>
            <div id="controlpanel">
                <div id="prev"><a href="../index" class="exitButton">Exit</a></div>
                <div id="text">{{title}}</div>
                <div id="next"><a href="../read/{{story}}/{{section}}/{{page}}" class="nextButton">Next</a></div>
            </div>
        </div>
    </body>
</html>
