{% load staticfiles %}
{% static "" as baseUrl %}
<!doctype html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Treasure Hunt</title>
        <link rel="stylesheet" href="{% static "css/alertify.css" %}" />
        <link rel="stylesheet" media="screen" href="{{ baseUrl }}treasure/css/canvases.css"></link>
    </head>

    <body onload="onLoad()">
        <script src="{{baseUrl}}treasure/js/main.js"></script>
        <script src="{{baseUrl}}js/alertify.js"></script>
        <script>
            function onLoad()
            {
                params = {
                    boardElem : 'gameBoard',
                    assets : '{{baseUrl}}treasure/',
                    mapLayerElem : 'mapLayer',
                    characterLayerElem : 'heroLayer',
                    clueTextElem : 'clue',
                    progressElem : 'progress',
                    clues : [{% for c in clues %}
                        { 
                            img : null, 
                            src : '{{c.src|escapejs}}', 
                            clue : '{{c.clue}}'
                        },{% endfor %}
                    ]
                };
                gameStart(params);
            }
        </script>
        <div class="container">
            <div class="gamediv centred" id='gameBoard'>
                <progress id="progress" max="100" value="0"> </progress>
                <canvas class="gamecanvas" id="mapLayer" style="z-index: 1;"></canvas>
                <canvas class="gamecanvas" id="heroLayer" style="z-index: 2;"></canvas>
            </div>
            <div class="cluediv centred" id="clue">
            </div>
            <div class="instructions">
                <br>
                Move the boy with the arrows to the picture given by the clue. Press ENTER for the next clue.
            </div>
        </div>
    </body>
</html>
