{% load staticfiles %}
{% static "" as baseUrl %}
<!doctype html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Treasure Hunt</title>
        <link rel="stylesheet" href="{% static "css/alertify.css" %}" />
        <link rel="stylesheet" media="screen" href="{{ baseUrl }}treasure/css/canvases.css" %}></link>
    </head>

    <body onload="onLoad()">
        <script src="{{baseUrl}}treasure/js/main.js"></script>
        <script src="{{baseUrl}}js/alertify.js"></script>
        <script>
            function onLoad()
            {
                params = {
                    boardElem : 'gameBoard',
                    assets : '{{baseUrl}}treasure/',
                    mapLayerElem : 'mapLayer',
                    characterLayerElem : 'heroLayer',
                    clueTextElem : 'clue',
                    progressElem : 'progress',
                    clues : [
                    {   // tiger
                        img : null, 
                        src : "http://drive.google.com/uc?export=view&id=0B7u1shV_Qm31aWdCNzBHbkItcm8",
                        clue : 'තැඹිළි ඇඟේ මගෙ කළු ඉරි ඇත්තේ'
                    },
                    {   // snake
                        img : null, 
                        src : "http://drive.google.com/uc?export=view&id=0ByUA_i3XjaSzQ1Y0VFdWVWRRekk",
                        clue : 'අත් පා නැති මා කඹයක් වගේ යි.'
                    },
                    {   // pig
                        img : null, 
                        src : "http://drive.google.com/uc?export=view&id=0B7u1shV_Qm31SjdKc3B0blNGdmM",
                        clue : 'Oink! Oink! I love the mud!!'
                    },
                    {   // tortoise
                        img : null, 
                        src : "http://drive.google.com/uc?export=view&id=0ByUA_i3XjaSzdkxmQWJ1LXcwRE0",
                        clue : 'I travel slowly with a shell on my back'
                    },
                    {   // butterfly
                        img : null, 
                        src : "http://drive.google.com/uc?export=view&id=0BwUXAWP3Z657dVlxM25GRTVMWXM",
                        clue : 'I have colourful wings and drink nectar from flowers'
                    },
                    {   // lion
                        img : null, 
                        src : "http://drive.google.com/uc?export=view&id=0B7u1shV_Qm31QTgwVGFHTkRpdDQ",
                        clue : 'I am the king of the jungle. Hear me roar!'
                    },
                    ]
                };
                gameStart(params);
            }
        </script>
        <div class="container">
            <div class="gamediv centred" id='gameBoard'>
                <progress id="progress" max="100" value="0"> </progress>
                <canvas class="gamecanvas" id="mapLayer" style="z-index: 1;"></canvas>
                <canvas class="gamecanvas" id="heroLayer" style="z-index: 2;"></canvas>
            </div>
            <div class="cluediv centred" id="clue">
            </div>
        </div>
    </body>
</html>
