body {
    background-color: Turquoise;
}

header {
    background-color: DarkTurquoise;
    font: 15px/1.5 "Comic Sans MS", cursive, sans-serif;
    bottom: 0;
}

.navigation {
    float: right;
}

@font-face { 
    font-family: 'BhashitaComplex';
    src: '{% static 'fonts/LBhashitaComplex.ttf' %}';
} 

.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: BlueViolet solid thick;
}

.container h1 {
    color: #797478;
    font: 40px/1.5 Verdana, Helvetica, sans-serif;
    font-variant: small-caps;
    padding: 10px;
}

.container p,li{
    color: MediumPurple;
    font: 20px/1.5 "Comic Sans MS", cursive, sans-serif;
    padding: 2px 25px;
}

.container embed {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.galleryItem {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;
    width: 28%;
    margin:  2% 2% 50px 2%;
}

.galleryItem h3 {
    text-transform: uppercase;
}

.galleryItem p {
    font: 15px/1.5 Verdana, Helvetica, sans-serif;
}

.galleryItem img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

