@font-face { 
    font-family: 'BhashitaComplex';
    src: '{% static 'fonts/LBhashitaComplex.ttf' %}';
} 

#container {
    width: 640px;
    margin: 0 auto;
}

#art{
    float: left;
    width: 100%;
}

#close {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index:1;
}

#prev {
    float: left;
}

#text {
    font-family: BhashitaComplex;
    text-align: center;
    font-size: 30px;
    width: 80%;
    float: left;
}

#next {
    float: right;
}

.storyChoice {
    float: left;
    width: 200px;
    margin:  2% 2% 50px 2%;
    font-family: BhashitaComplex;
    font-size: 20px;
}

h1 {
    color: #797478;
    font: 40px/1.5 Verdana, Helvetica, sans-serif;
    font-variant: small-caps;
    padding: 10px;
    text-align: center;
}
.storyChoice img {
    width: 100%;
    height: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.left {
    float: left;
}

.right {
    float: left;
}

.quadrant {
    width: 50%;
    height: 225px; 
}

.question {
    font-family: BhashitaComplex;
    border-radius: 25px;
    display: inline-block;
    width: 80%;
    height: 50%;
    border: 3px solid #73AD21;  
    padding: 20px;
}

.feedback {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

#nav {
    margin: 0 auto;
    text-align: center;
}
