{% extends "site-common.html" %}

{% block title %}
About Sinhala For Kids
{% endblock %}

{% block body %}
<div class="container">
<h1>About</h1>

<p>"Sinhala for kids" is a site dedicated to children learning Sinhala as a second language. Its primary goal is to promote skills in reading and comprehension. The games and activities presented in this site have been designed with that goal in mind.
</p>

<p>We hope you or your child would find this site valuable.
</p>

<h1>Help</h1>

<p>
This site is maintained by volunteers and could always use any help from anyone willing to contribute. Assistance in the following areas would be most valuable:
</p>

<ul>
<li>Identifying and reporting any inaccuracies/mistakes in the existing activities
<li>Adding content to existing activities
<li>Help in improving the website design
<li>Creating new games and activities
</ul>
</div>
{% endblock %}

