{% extends "site-common.html" %}
{% load staticfiles %}

{% block title %}
Sinhala For Kids
{% endblock %}

{% block description %}
"Sinhala for kids is a site dedicated to children learning Sinhala as a second language. Its primary goal is to promote skills in reading and comprehension."
{% endblock %}

{% block body %}
<div class="container">
    <h1>Choose an activity</h1>
    {% for app in apps %}
    <div class="galleryItem">
        {% static "" as baseUrl %}
        <a href="/{{app.url}}/"><img src="{{baseUrl}}img/{{app.img}}" alt="{{app.name}}"></a>
        <h3>{{app.name}}</h3>
        <p>{{app.desc}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}

