{% extends "site-common.html" %}
{% load staticfiles %}
{% static "" as baseUrl %}

{% block title %}
Sinhala For Kids
{% endblock %}

{% block description %}
"Sinhala for kids is a site dedicated to children learning Sinhala as a second language. Its primary goal is to promote skills in reading and comprehension."
{% endblock %}

{% block body %}
<div class="container">
    <h1>Choose a lesson</h1>
    <div class="galleryItem">
        <a href="/alphabet/"><img src="{{baseUrl}}img/alphabet.png" alt="Alphabet"></a>
        <h3>Alphabet</h3>
        <p>Learn to recognise the shapes and sounds of the Sinhala alphabet</p>
    </div>
    <div class="galleryItem">
        <a href="/words/"><img src="{{baseUrl}}img/words.png" alt="Words"></a>
        <h3>Words</h3>
        <p>Build your vocabulary through games and quizes</p>
    </div>
    <div class="galleryItem">
        <a href="/sentences/"><img src="{{baseUrl}}img/sentences.png" alt="Sentences"></a>
        <h3>Sentences</h3>
        <p>Learn to read and understand sentences</p>
    </div>
</div>
{% endblock %}

