{% load staticfiles %}
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "css/site.css" %}" />
        <meta name="description=" content={% block description %}{% endblock %}>
        {% block script %}{% endblock %}
    </head>
    <header>
        {% static "" as baseUrl %}
	    <a href="/"><img src="{{ baseUrl }}img/logo.png" alt="Sinhala for kids"></a>
	    <a href="/about.html"><img class="navigation" src="{{ baseUrl }}img/Actions-help-about-icon.png" alt="About"></a>
	    <a href="/contact.html"><img class="navigation" src="{{ baseUrl }}img/Actions-mail-flag-icon.png" alt="Contact"></a>
	    <a href="/"><img class="navigation" src="{{ baseUrl }}img/Actions-go-home-icon.png" alt="Home"></a>
	    {% block header %}{% endblock %}
        </header>
    <body>
	{% block body %}{% endblock %}
    </body>
</html>

