{% load staticfiles %}
{% static "" as baseUrl %}
<!doctype html>
<html lang=en>
    <head>
        <meta charset=utf-8>
        <title>Sinhala alphabet lessons</title>
        <link rel="stylesheet" href="{{baseUrl}}alphabet/css/alphabet.css"></link>
    </head>
    <body>
        {% for number,letters in lessons%}
        <div class="lessonItem">
            <div>
                <a href="lesson/{{number}}" class="menuButton">{%for l in letters%}{{l}} {%endfor%}</a>
                <p>Lesson {{number}}</p>
            </div>
        </div>
        {% endfor %}
    </body>
</html>
